{% extends "base.html"%} {% block head_content %}
<style>
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  .profile-image {
    height: 200px;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
    object-fit: cover;
    text-align: center;
  }
  .greeting {
    font-family: sans-serif;
    margin-bottom: 60px;
    text-align: center;
  }
  .greeting-name {
    font-weight: 800;
    font-style: italic;
  }
</style>
{% endblock %} {% block content %} {% for user in users %} <img class =
"profile-image" src= {{user["image"]}}>
<p class="greeting">
  Hello, <span class="greeting-name">{{user["name"]}}</span>
</p>
{% endfor %} {% endblock %}
